.transform (@value) {
	transform: @value;
	-ms-transform: @value;
	-webkit-transform: @value;
}
.hex (@size: 100) {
	width: 0px + @size;
	height: 0px + @size;
	.transform(matrix(0.5, -0.25, 0, 0.5, -0.25 * @size, -0.375 * @size));
}
.hex-before (@size: 100) {
	.transform(matrix(-1, -1, 1, 0, -0.5 * @size, -1 * @size));
}
.hex-after (@size: 100) {
	.transform(matrix(0, 1, -1, -1, -1 * @size, -0.5 * @size));
}

.hex,
.hex:before,
.hex:after {
	position: absolute;
}
.hex:before,
.hex:after {
	content: '';
	top: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.hex {
	overflow: visible;
	.hex;
}
.hex:before {
	.hex-before;
}
.hex:after {
	.hex-after;
}

.hex-container {
	position: relative;
	overflow: hidden;
	.transform(scaleX(0.866));
}
